@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 5% 96%;
    --foreground: 24 14% 4%;
    --card: 20 6% 90%;
    --card-foreground: 24 14% 4%;
    --popover: 60 5% 96%;
    --popover-foreground: 24 14% 4%;
    --primary: 60 5% 96%;
    --primary-foreground: 24 14% 4%;
    --secondary: 20 6% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 24 6% 83%;
    --muted-foreground: 12 6% 15%;
    --accent: 335 78% 42%;
    --accent-foreground: 60 5% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 5% 32%;
    --input: 33 5% 32%;
    --ring: 240 6% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 10% 10%;
    --foreground: 60 5% 96%;
    --card: 12 6% 15%;
    --card-foreground: 60 5% 96%;
    --popover: 24 14% 4%;
    --popover-foreground: 60 5% 96%;
    --primary: 24 10% 10%;
    --primary-foreground: 60 5% 96%;
    --secondary: 12 6% 15%;
    --secondary-foreground: 60 5% 96%;
    --muted: 12 6% 15%;
    --muted-foreground: 24 6% 83%;
    --accent: 93 78% 55%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 24 10% 10%;
    --border: 60 9% 98%;
    --input: 60 9% 98%;
    --ring: 240 5% 84%;
  }

  body {
    background-color: hsl(var(--background));
  }

  p>a[href] {
    color: hsl(var(--accent));
  }

  p>a[href]:hover {
    font-style: italic;
    text-decoration: underline;
  }

  .main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}